<% @produtos.each do |produto| %>
  <div class="produto <%= cycle("produto_par","produto_impar")  %>">
    <%= image_tag imagem_produto_path(produto) %>
    <h3><%= produto.titulo %></h3>
    <p><%= produto.descricao  %></p>
    <div class="preco">
      <%= produto.preco %>
      <%= button_to "Adicionar ao Carrinho",
        itens_path(:id_produto => produto.id),
        :remote => true %>
    </div>
  </div>
<% end %>