<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :produto_id %><br />
    <%= f.text_field :produto_id %>
  </div>
  <div class="field">
    <%= f.label :carrinho_id %><br />
    <%= f.text_field :carrinho_id %>
  </div>
  <div class="field">
    <%= f.label :quantidade %><br />
    <%= f.text_field :quantidade %>
  </div>
  <div class="field">
    <%= f.label :preco %><br />
    <%= f.text_field :preco %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
