<h1>Listing itens</h1>

<table>
  <tr>
    <th>Produto</th>
    <th>Carrinho</th>
    <th>Quantidade</th>
    <th>Preco</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @itens.each do |item| %>
  <tr>
    <td><%= item.produto_id %></td>
    <td><%= item.carrinho_id %></td>
    <td><%= item.quantidade %></td>
    <td><%= item.preco %></td>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item', new_item_path %>
