<p id="notice"><%= notice %></p>

<p>
  <b>Produto:</b>
  <%= @item.produto_id %>
</p>

<p>
  <b>Carrinho:</b>
  <%= @item.carrinho_id %>
</p>

<p>
  <b>Quantidade:</b>
  <%= @item.quantidade %>
</p>

<p>
  <b>Preco:</b>
  <%= @item.preco %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', itens_path %>
