<p id="notice"><%= notice %></p>

<p>
  <b>Título:</b>
  <%= @produto.titulo %>
</p>

<p>
  <b>Descrição:</b>
  <%= @produto.descricao %>
</p>

<p>
  <b>Preço:</b>
  <%= @produto.preco.reais_contabeis %>
</p>

<p>
  <b>Imagem:</b>
  <%= image_tag url_for(:action => :imagem,
    :id => @produto.id) %>
</p>

<p>
  <b>Tipo imagem:</b>
  <%= @produto.tipo_imagem %>
</p>


<%= link_to 'Editar', edit_produto_path(@produto) %> |
<%= link_to 'Voltar', produtos_path %>
